<div class="container" style="background: #c18eff;
background: linear-gradient(to bottom, #66c7ff, #dff6ff);" >
    <div >
    <h3 class="d-flex justify-content-center">Chess Acadmy Admission</h3>
    <h5 class="d-flex justify-content-center">User Management Portal</h5>

    
    <div>
        <ul class="nav justify-content-end"> 
            <li class="nav-item">
                <button routerLink="/auth/login"
                class="m-1 btn btn-light btn-outline-primary" id="logout" Button>Log Out</button>
            </li>
        </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button routerLink="/admin/academy"
            class="m-1 btn btn-light btn-outline-primary" id="adminAcademy" Button>Academy</button>
        </li>
        <li class="nav-item">
            <button routerLink="/admin/course"
            class="m-1 btn btn-light btn-outline-primary" id="adminCourse" Button>Course</button>
        </li> 
        <li class="nav-item">
            <button routerLink="/admin/student"
            class="m-1 btn btn-light btn-outline-primary" id="adminStudents" Button>Student</button>
        </li>       
    </ul>

    
</div>
</div>  
  
    


</div>
<div class="container" style="background: #c18eff;background: linear-gradient(to bottom,  #dff6ff,#66c7ff)">
<router-outlet></router-outlet> 
</div>