<div class="container">

    <h3 class="d-flex justify-content-center">Chess Acadmy Admission</h3>
    <h5 class="d-flex justify-content-center">User Management Portal</h5>

    <nav class="navbar navbar-expand-sm bg-info navbar-dark" >
    <ul class="navbar-nav">
        <li class="nav-item">
            <pre>                                                             </pre>
        </li>

        <li class="nav-item">
            <button routerLink="/admin/academy"
            class="m-1 btn btn-light btn-outline-primary" id="adminAcademy" Button>Academy</button>
        </li>
        <li class="nav-item">
            <button routerLink="/admin/course"
            class="m-1 btn btn-light btn-outline-primary" id="adminCourse" Button>Course</button>
        </li> 
        <li class="nav-item">
            <button routerLink="/admin/student"
            class="m-1 btn btn-light btn-outline-primary" id="adminStudents" Button>Student</button>
        </li> 
        <pre>                                                           </pre>
            <li class="nav-item">
                <button routerLink="/auth/login"
                class="m-1 btn btn-light btn-outline-primary" id="logout" Button>Log Out</button>
            </li>
          

        
        
    </ul>
    
    
    </nav>
     <router-outlet></router-outlet> 
    

</div>
