<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>please enter the email and password</h6>
                </div>
                <form>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" id="loginButton" class="btn btn-primary">Login</button>
                  </form>
                  <br>
                  <a routerLink="/signup" id="signupLink">New User? click to signUp</a>
                </form>
            </div>
        </div>
    </div>
</div>