<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label" >Academy Name</label>
        <div class="col-sm-10">
            <input type="text" id="academyName" class="form-control" [(ngModel)]="academyname"
            placeholder="Enter academy Name">
        </div>
    
        <label class="col-sm-2 col-form-label" >Academy Description</label>
        <div class="col-sm-10">
           
            <input type="text" id="academyDescription" class="form-control" [(ngModel)]="academydescription"
            placeholder="Enter academy descriptin">
           
        </div>
        <label class="col-sm-2 col-form-label" >Academy Location</label>
        <div class="col-sm-10">
           
            <input type="text" id="academylocation" class="form-control" [(ngModel)]="academylocation"
            placeholder="Enter academy location">
           
        </div>
        <label class="col-sm-2 col-form-label" >Academy Email</label>
        <div class="col-sm-10">
           
            <input type="text" id="academyemail" class="form-control" [(ngModel)]="academyemail"
            placeholder="Enter academy email">
           
        </div>
        <label class="col-sm-2 col-form-label" >Academy MobileNo</label>
        <div class="col-sm-10">
           
            <input type="text" id="academycontactno" class="form-control" [(ngModel)]="academycontactno"
            placeholder="Enter academy contactno">
           
        </div>
    
    
    
        
    
    </div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
    <img [src]=PhotoFilePath height="250px;" width="200px;">
    <input type="file" id="imageUrl" (change)="uploadPhoto($event)" class="mt-2"/>
    </div>
    </div>
    
    
    <button (click)="addAcademy()" *ngIf="academy.academyid==0" id="addAcademy" class="btn btn-primary">
        Add
    </button>
    
    <button (click)="updateAcademy()" *ngIf="academy.academyid!=0" class="btn btn-primary">
        Update
    </button>
